--
-- PostgreSQL database dump
--

\restrict CbncU7Hf4AooAXZ9rNaxnnDiZLX201Nm9ahz2ELlq2tAsIyDAe2qyWWM6kOpahA

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: kuditracker
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO kuditracker;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: kuditracker
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO kuditracker;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: kuditracker
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO kuditracker;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: kuditracker
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: bank_accounts; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.bank_accounts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    bank_name character varying(255) NOT NULL,
    account_name character varying(255) NOT NULL,
    account_number character varying(50) NOT NULL,
    account_type character varying(50) DEFAULT 'savings'::character varying,
    currency character varying(10) DEFAULT 'NGN'::character varying,
    is_default boolean DEFAULT false,
    include_in_invoice boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.bank_accounts OWNER TO grwofinance;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    name text NOT NULL,
    icon text NOT NULL,
    color text NOT NULL,
    is_default boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.categories OWNER TO grwofinance;

--
-- Name: expenses; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.expenses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    merchant text NOT NULL,
    category text NOT NULL,
    amount numeric(10,2) NOT NULL,
    date timestamp without time zone NOT NULL,
    notes text,
    items text[],
    image_url text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.expenses OWNER TO grwofinance;

--
-- Name: feedback; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    user_id uuid,
    type character varying(50) NOT NULL,
    rating integer,
    subject character varying(200),
    message text NOT NULL,
    page character varying(100),
    is_resolved boolean DEFAULT false,
    admin_response text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.feedback OWNER TO grwofinance;

--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: grwofinance
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_id_seq OWNER TO grwofinance;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: grwofinance
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: firs_compliance; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.firs_compliance (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    tax_id text NOT NULL,
    business_name text NOT NULL,
    registration_number text,
    tax_office text NOT NULL,
    tax_category text NOT NULL,
    filing_frequency text NOT NULL,
    last_filing_date date,
    next_filing_date date,
    compliance_status text DEFAULT 'compliant'::text NOT NULL,
    outstanding_returns integer DEFAULT 0 NOT NULL,
    total_tax_liability numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.firs_compliance OWNER TO grwofinance;

--
-- Name: income; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.income (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    source text NOT NULL,
    category text NOT NULL,
    amount numeric(10,2) NOT NULL,
    date timestamp without time zone NOT NULL,
    description text,
    invoice_number text,
    payment_method text,
    status text DEFAULT 'received'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    frequency text DEFAULT 'monthly'::text NOT NULL
);


ALTER TABLE public.income OWNER TO grwofinance;

--
-- Name: income_categories; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.income_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    name text NOT NULL,
    icon text NOT NULL,
    color text NOT NULL,
    is_default boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.income_categories OWNER TO grwofinance;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.invoices (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    client_name text NOT NULL,
    client_email text,
    amount numeric(10,2) NOT NULL,
    due_date timestamp without time zone,
    status text DEFAULT 'draft'::text NOT NULL,
    invoice_number text NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    income_id uuid,
    client_phone text,
    issue_date timestamp without time zone DEFAULT now() NOT NULL,
    payment_terms text,
    client_address text,
    amount_paid numeric(10,2) DEFAULT 0.00 NOT NULL
);


ALTER TABLE public.invoices OWNER TO grwofinance;

--
-- Name: net_worth_history; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.net_worth_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    assets jsonb NOT NULL,
    liabilities jsonb NOT NULL,
    net_worth numeric(12,2) NOT NULL,
    savings numeric(12,2) DEFAULT 0,
    saved_asset_value numeric(12,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.net_worth_history OWNER TO grwofinance;

--
-- Name: savings_goals; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.savings_goals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    name text NOT NULL,
    target_amount numeric(10,2) NOT NULL,
    current_amount numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    deadline timestamp without time zone NOT NULL,
    category text DEFAULT 'general'::text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.savings_goals OWNER TO grwofinance;

--
-- Name: savings_records; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.savings_records (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    amount numeric(12,2) NOT NULL,
    date date NOT NULL,
    "time" text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.savings_records OWNER TO grwofinance;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.sessions (
    sid character varying NOT NULL,
    sess jsonb NOT NULL,
    expire timestamp without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO grwofinance;

--
-- Name: tax_calendar; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.tax_calendar (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    tax_type text NOT NULL,
    title text NOT NULL,
    description text,
    due_date date NOT NULL,
    reminder_date date,
    status text DEFAULT 'pending'::text NOT NULL,
    is_recurring boolean DEFAULT false NOT NULL,
    recurring_frequency text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tax_calendar OWNER TO grwofinance;

--
-- Name: tax_receipts; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.tax_receipts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    expense_id uuid,
    invoice_id uuid,
    receipt_type text NOT NULL,
    title text NOT NULL,
    description text,
    amount numeric(12,2) NOT NULL,
    tax_amount numeric(12,2),
    date date NOT NULL,
    category text NOT NULL,
    image_url text,
    file_url text,
    tags text[],
    is_deductible boolean DEFAULT true NOT NULL,
    tax_year text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tax_receipts OWNER TO grwofinance;

--
-- Name: tax_reports; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.tax_reports (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    report_type text NOT NULL,
    title text NOT NULL,
    description text,
    report_period text NOT NULL,
    generated_date timestamp without time zone DEFAULT now() NOT NULL,
    file_url text,
    data jsonb,
    status text DEFAULT 'generated'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tax_reports OWNER TO grwofinance;

--
-- Name: user_settings; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.user_settings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    business_name text,
    business_address text,
    business_email text,
    business_phone text,
    default_payment_terms text DEFAULT 'Net 30'::text,
    invoice_notes text,
    tax_rate text DEFAULT '7.5'::text,
    next_invoice_number text DEFAULT 'INV-001'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    total_asset_value numeric(12,2),
    net_worth_data jsonb
);


ALTER TABLE public.user_settings OWNER TO grwofinance;

--
-- Name: users; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password text NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    is_admin boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    subscription_plan text DEFAULT 'freemium'::text NOT NULL,
    subscription_status text DEFAULT 'active'::text NOT NULL,
    subscription_end_date timestamp without time zone,
    monthly_scans_used text DEFAULT '0'::text NOT NULL,
    last_scan_reset_date timestamp without time zone DEFAULT now() NOT NULL,
    paystack_customer_code text,
    paystack_subscription_code text,
    paystack_subscription_token text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO grwofinance;

--
-- Name: wht_transactions; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.wht_transactions (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    invoice_id uuid,
    invoice_number text NOT NULL,
    client_name text NOT NULL,
    invoice_amount numeric(10,2) NOT NULL,
    wht_rate numeric(5,4) DEFAULT 0.1 NOT NULL,
    wht_amount numeric(10,2) NOT NULL,
    net_amount numeric(10,2) NOT NULL,
    transaction_date timestamp without time zone DEFAULT now() NOT NULL,
    payment_method text DEFAULT 'Bank Transfer'::text,
    status text DEFAULT 'deducted'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.wht_transactions OWNER TO grwofinance;

--
-- Name: wht_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: grwofinance
--

CREATE SEQUENCE public.wht_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wht_transactions_id_seq OWNER TO grwofinance;

--
-- Name: wht_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: grwofinance
--

ALTER SEQUENCE public.wht_transactions_id_seq OWNED BY public.wht_transactions.id;


--
-- Name: withholding_tax; Type: TABLE; Schema: public; Owner: grwofinance
--

CREATE TABLE public.withholding_tax (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    invoice_id uuid,
    income_id uuid,
    amount numeric(12,2) NOT NULL,
    wht_rate text NOT NULL,
    wht_amount numeric(12,2) NOT NULL,
    deductee_name text NOT NULL,
    deductee_tax_id text,
    transaction_date date NOT NULL,
    payment_date date,
    certificate_number text,
    status text DEFAULT 'deducted'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.withholding_tax OWNER TO grwofinance;

--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: kuditracker
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: wht_transactions id; Type: DEFAULT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.wht_transactions ALTER COLUMN id SET DEFAULT nextval('public.wht_transactions_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: kuditracker
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
\.


--
-- Data for Name: bank_accounts; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.bank_accounts (id, user_id, bank_name, account_name, account_number, account_type, currency, is_default, include_in_invoice, created_at, updated_at) FROM stdin;
484b67a7-9e9f-40c8-bac1-fc45c799c11b	6edf4b6e-2b0a-4e50-a7cf-bc369c67dfa8	Zenith Bank	Kelechi Aribeana	2190648886	savings	NGN	t	t	2026-03-02 19:59:36.703	2026-03-02 19:59:36.703
a2a4568f-d555-45c1-93e7-003793fa2e1b	6edf4b6e-2b0a-4e50-a7cf-bc369c67dfa8	Opay	Kelechi Aribeana	7017188070	savings	NGN	t	t	2026-03-02 20:07:18.352	2026-03-02 20:11:22.403
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.feedback (id, user_id, type, rating, subject, message, page, is_resolved, admin_response, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: firs_compliance; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.firs_compliance (id, user_id, tax_id, business_name, registration_number, tax_office, tax_category, filing_frequency, last_filing_date, next_filing_date, compliance_status, outstanding_returns, total_tax_liability, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: income; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: income_categories; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.income_categories (id, user_id, name, icon, color, is_default, created_at) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: net_worth_history; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: savings_goals; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.savings_goals (id, user_id, name, target_amount, current_amount, deadline, category, is_active, created_at, updated_at) FROM stdin;
8832422e-5851-4dde-a79b-e32a9fed9826	b848572b-ea0b-4f30-ab2e-8926b79af533	Vacation	2000000.00	0.00	2026-06-12 00:00:00	vacation	t	2026-02-06 20:41:29.765308	2026-02-06 20:41:29.765308
d683fcb6-167c-4d14-a07c-896827b8c116	d4cddc05-3ff9-41e8-ac3e-4564c4d51df5	Vacation	3000000.00	0.00	2026-06-17 00:00:00	vacation	t	2026-02-07 10:54:31.758295	2026-02-07 10:54:31.758295
\.


--
-- Data for Name: savings_records; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.savings_records (id, user_id, amount, date, "time", created_at) FROM stdin;
4ff1fce9-01c3-4187-83e2-f48b02fbd484	d4cddc05-3ff9-41e8-ac3e-4564c4d51df5	600000.00	2026-02-09	22:35:29	2026-02-09 22:35:29.021258
a395fff0-16c9-4f85-9c18-c0e3f6f3cf10	d4cddc05-3ff9-41e8-ac3e-4564c4d51df5	300000.00	2026-02-10	20:22:38	2026-02-10 20:22:38.764212
de1fb8bc-cc35-4179-a7cc-2cb22ac3c5d3	d4cddc05-3ff9-41e8-ac3e-4564c4d51df5	150000.00	2026-02-10	20:27:33	2026-02-10 20:27:33.620041
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: tax_calendar; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.tax_calendar (id, user_id, tax_type, title, description, due_date, reminder_date, status, is_recurring, recurring_frequency, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: tax_receipts; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.tax_receipts (id, user_id, expense_id, invoice_id, receipt_type, title, description, amount, tax_amount, date, category, image_url, file_url, tags, is_deductible, tax_year, created_at) FROM stdin;
\.


--
-- Data for Name: tax_reports; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.tax_reports (id, user_id, report_type, title, description, report_period, generated_date, file_url, data, status, created_at) FROM stdin;
\.


--
-- Data for Name: user_settings; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: wht_transactions; Type: TABLE DATA; Schema: public; Owner: grwofinance
--



--
-- Data for Name: withholding_tax; Type: TABLE DATA; Schema: public; Owner: grwofinance
--

COPY public.withholding_tax (id, user_id, invoice_id, income_id, amount, wht_rate, wht_amount, deductee_name, deductee_tax_id, transaction_date, payment_date, certificate_number, status, created_at, updated_at) FROM stdin;
\.


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: kuditracker
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 1, false);


--
-- Name: feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grwofinance
--

SELECT pg_catalog.setval('public.feedback_id_seq', 1, false);


--
-- Name: wht_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grwofinance
--

SELECT pg_catalog.setval('public.wht_transactions_id_seq', 14, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: kuditracker
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: bank_accounts bank_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: firs_compliance firs_compliance_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.firs_compliance
    ADD CONSTRAINT firs_compliance_pkey PRIMARY KEY (id);


--
-- Name: income_categories income_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.income_categories
    ADD CONSTRAINT income_categories_pkey PRIMARY KEY (id);


--
-- Name: income income_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.income
    ADD CONSTRAINT income_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: net_worth_history net_worth_history_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.net_worth_history
    ADD CONSTRAINT net_worth_history_pkey PRIMARY KEY (id);


--
-- Name: savings_goals savings_goals_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.savings_goals
    ADD CONSTRAINT savings_goals_pkey PRIMARY KEY (id);


--
-- Name: savings_records savings_records_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.savings_records
    ADD CONSTRAINT savings_records_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (sid);


--
-- Name: tax_calendar tax_calendar_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.tax_calendar
    ADD CONSTRAINT tax_calendar_pkey PRIMARY KEY (id);


--
-- Name: tax_receipts tax_receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.tax_receipts
    ADD CONSTRAINT tax_receipts_pkey PRIMARY KEY (id);


--
-- Name: tax_reports tax_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.tax_reports
    ADD CONSTRAINT tax_reports_pkey PRIMARY KEY (id);


--
-- Name: user_settings user_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_pkey PRIMARY KEY (id);


--
-- Name: user_settings user_settings_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_unique UNIQUE (user_id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wht_transactions wht_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.wht_transactions
    ADD CONSTRAINT wht_transactions_pkey PRIMARY KEY (id);


--
-- Name: withholding_tax withholding_tax_pkey; Type: CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.withholding_tax
    ADD CONSTRAINT withholding_tax_pkey PRIMARY KEY (id);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: grwofinance
--

CREATE INDEX "IDX_session_expire" ON public.sessions USING btree (expire);


--
-- Name: idx_bank_accounts_user_id; Type: INDEX; Schema: public; Owner: grwofinance
--

CREATE INDEX idx_bank_accounts_user_id ON public.bank_accounts USING btree (user_id);


--
-- Name: idx_net_worth_history_created_at; Type: INDEX; Schema: public; Owner: grwofinance
--

CREATE INDEX idx_net_worth_history_created_at ON public.net_worth_history USING btree (created_at DESC);


--
-- Name: idx_net_worth_history_user_id; Type: INDEX; Schema: public; Owner: grwofinance
--

CREATE INDEX idx_net_worth_history_user_id ON public.net_worth_history USING btree (user_id);


--
-- Name: idx_wht_invoice_id; Type: INDEX; Schema: public; Owner: grwofinance
--

CREATE INDEX idx_wht_invoice_id ON public.wht_transactions USING btree (invoice_id);


--
-- Name: idx_wht_status; Type: INDEX; Schema: public; Owner: grwofinance
--

CREATE INDEX idx_wht_status ON public.wht_transactions USING btree (status);


--
-- Name: idx_wht_transaction_date; Type: INDEX; Schema: public; Owner: grwofinance
--

CREATE INDEX idx_wht_transaction_date ON public.wht_transactions USING btree (transaction_date);


--
-- Name: idx_wht_user_id; Type: INDEX; Schema: public; Owner: grwofinance
--

CREATE INDEX idx_wht_user_id ON public.wht_transactions USING btree (user_id);


--
-- Name: bank_accounts bank_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: categories categories_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: expenses expenses_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: feedback feedback_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: firs_compliance firs_compliance_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.firs_compliance
    ADD CONSTRAINT firs_compliance_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: income_categories income_categories_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.income_categories
    ADD CONSTRAINT income_categories_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: income income_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.income
    ADD CONSTRAINT income_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: invoices invoices_income_id_income_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_income_id_income_id_fk FOREIGN KEY (income_id) REFERENCES public.income(id);


--
-- Name: invoices invoices_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: net_worth_history net_worth_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.net_worth_history
    ADD CONSTRAINT net_worth_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: savings_goals savings_goals_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.savings_goals
    ADD CONSTRAINT savings_goals_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: savings_records savings_records_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.savings_records
    ADD CONSTRAINT savings_records_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tax_calendar tax_calendar_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.tax_calendar
    ADD CONSTRAINT tax_calendar_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tax_receipts tax_receipts_expense_id_expenses_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.tax_receipts
    ADD CONSTRAINT tax_receipts_expense_id_expenses_id_fk FOREIGN KEY (expense_id) REFERENCES public.expenses(id);


--
-- Name: tax_receipts tax_receipts_invoice_id_invoices_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.tax_receipts
    ADD CONSTRAINT tax_receipts_invoice_id_invoices_id_fk FOREIGN KEY (invoice_id) REFERENCES public.invoices(id);


--
-- Name: tax_receipts tax_receipts_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.tax_receipts
    ADD CONSTRAINT tax_receipts_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tax_reports tax_reports_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.tax_reports
    ADD CONSTRAINT tax_reports_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_settings user_settings_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: wht_transactions wht_transactions_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.wht_transactions
    ADD CONSTRAINT wht_transactions_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id);


--
-- Name: wht_transactions wht_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.wht_transactions
    ADD CONSTRAINT wht_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: withholding_tax withholding_tax_income_id_income_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.withholding_tax
    ADD CONSTRAINT withholding_tax_income_id_income_id_fk FOREIGN KEY (income_id) REFERENCES public.income(id);


--
-- Name: withholding_tax withholding_tax_invoice_id_invoices_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.withholding_tax
    ADD CONSTRAINT withholding_tax_invoice_id_invoices_id_fk FOREIGN KEY (invoice_id) REFERENCES public.invoices(id);


--
-- Name: withholding_tax withholding_tax_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: grwofinance
--

ALTER TABLE ONLY public.withholding_tax
    ADD CONSTRAINT withholding_tax_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO kuditracker;
GRANT ALL ON SCHEMA public TO grwofinance;


--
-- Name: TABLE savings_records; Type: ACL; Schema: public; Owner: grwofinance
--

GRANT ALL ON TABLE public.savings_records TO kuditracker;


--
-- Name: TABLE wht_transactions; Type: ACL; Schema: public; Owner: grwofinance
--

GRANT ALL ON TABLE public.wht_transactions TO kuditracker;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO grwofinance;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO kuditracker;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO grwofinance;


--
-- PostgreSQL database dump complete
--

\unrestrict CbncU7Hf4AooAXZ9rNaxnnDiZLX201Nm9ahz2ELlq2tAsIyDAe2qyWWM6kOpahA

